@import url("./common.css");

body {
  height: max-content;
  padding: 10rem;
}

.back {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
  margin-bottom: 0.25rem;
}

.search-container {
  display: flex;
  margin-bottom: 2rem;
}

.button-more {
  margin-top: 2rem;
}

table {
  font-size: var(--button-font-size);
  width: 100%;
  width: 600px;
}

table tr {
  height: 5rem;
  outline: 2px solid white;
}

table td {
  text-align: center;
}
