@import url("./common.css");

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  font-size: var(--button-font-size);
}

canvas {
  border: 1px solid white;
  height: 600px;
  width: 400px;
  margin: auto;
}
